*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    background: #262a2f; /
}
.container{
    width: 400px;
    align-items: center;
    padding: 25px 35px;
    position: absolute;
    background: #fff;
    top: 30%;
    left: 30%;
    border-radius: 12px;

}
p{
    font-size: 25px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 10px;
}
img{
    width: 25px;

}
input{
    width: 70%;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    background: #c3c4c780;

}
button{
    /* padding: 4px 6px; */
    border: none;
    color: rgb(238, 238, 227);
    width: 22%;
    height: 40px;
    border-radius: 10px;
    background-color: orangered;
}
button:hover{
    /* padding: 4px 6px; */
    border: none;
    color: rgb(255, 255, 255);
    width: 22%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(214, 95, 52);
}
#ImgBox{
    width: 400px;
    height: 300px;
    
}
#ImgBox img{
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 80px;

}
